<div class="container">
  <h1>Quotes</h1>
<div class="container-fluid">

  <div class="jumbotron">

  </div>

</div>
  <ul>
    <li *ngFor='let quote of quoted;let i = index'>"{{quote.quote}}" -{{quote.author}}- <button class="btn btn-sm" type="button" (click)="toggleDetails(i)">View</button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'quoteComplete($event,i)'></app-quote-details> </li>
  </ul>

<app-quotes-form (addQuote)="addNewQuotes($event)"></app-quotes-form>
</div>
